*{
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 1000px;
    width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.box_container{
    background-color: rgb(255, 255, 255);
    height: 650px;
    width: 400px;
    border-radius: 40px ;
}
.headBg{
    background-color: #D6B19E;
    height: 200px;
    border-radius: 40px;
}
.img_section{
    display: flex;
    justify-content: center;

}
img{
    height: 200px;
    width: 190px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -100px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
.line{
    border: 2px solid #D6B19E;
    width: 350px;
    margin: 10px 20px 10px 20px;
}
.desc{
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
    width: 376px;
    text-align: center;
}
.follow{
    width: 39%;
    text-align: center;
    padding: 3%;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #D6B19E;
}
.follow a{
    color: black;
}